/* MISC */
/* Colors */
/*Font Sizes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*PARTIALS*/
/*HEADER*/
.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/large/estudio/51.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .background .header .navbar .container-fluid .navbar-brand i {
    font-size: 35px;
    padding-right: 5px; }
  .background .header .navbar .container-fluid .navbar-brand span {
    font-size: 35px;
    padding-right: 100px; }
  .background .header .navbar .container-fluid .collapse .navbar-nav li .nav:hover {
    background-color: #131313; }
  .background .header .navbar .container-fluid .collapse .navbar-nav li li:after {
    display: block; }
  .background .header .navbar .container-fluid .collapse .navbar-nav li li:hover:after {
    transform: scale(1); }
  .background .header .navbar img {
    -webkit-filter: invert(100%); }
  .background .background__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: center; }
    .background .background__title h1 {
      color: white;
      font-size: 95px;
      letter-spacing: 30px;
      font-weight: 400;
      text-shadow: -2px 1px 10px rgba(0, 0, 0, 0.89);
      text-transform: uppercase;
      
      margin-left: 20px;
      position: relative; }
      @media screen and (max-width: 850px) {
        .background .background__title h1 {
          font-size: 50px; } }
      @media screen and (max-width: 600px) {
        .background .background__title h1 {
          font-size: 30px;
          letter-spacing: 20px; } }
      @media screen and (max-height: 500px) {
        .background .background__title h1 {
          font-size: 50px; } }
    .background .background__title h2 {
      color: white;
      font-size: 25px;
      letter-spacing: 10px;
      font-weight: lighter;
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.59); }
      @media screen and (max-width: 600px) {
        .background .background__title h2 {
          font-size: 18px; } }
      @media screen and (max-height: 500px) {
        .background .background__title h2 {
          font-size: 18px; } }
    .background .background__title a {
      list-style: none; }
      .background .background__title a li i {
        color: #f0ad4e; }

/*FOOTER*/
.footer {
  background-color: #111111; }
  .footer .footer__form .footer__form__query {
    max-width: 500px;
    background-color: transparent;
    padding: 30px;
    margin-top: 20px;
    border-radius: 4px;
    color: white; }
    .footer .footer__form .footer__form__query .footer__form__query__button {
      width: 100%;
      border: solid #ffffff 1px;
      background-color: transparent;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px; }
    .footer .footer__form .footer__form__query h4 {
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: bold;
      text-align: left;
      letter-spacing: 5px; }
    .footer .footer__form .footer__form__query .footer__form__query__textarea {
      background-color: transparent;
      margin-top: 20px;
      font-size: 16px;
      width: 100%;
      border: solid #ffffff 1px;
      color: white;
      padding: 10px; }
      .footer .footer__form .footer__form__query .footer__form__query__textarea::placeholder {
        padding: 10px; }
    .footer .footer__form .footer__form__query .footer__form__query__controls {
      width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      border-bottom: 1px solid #ffffff;
      font-size: 15px;
      color: white;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none; }

/*VIEWS*/
/*HOME*/
.bodyContainer {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4; }
  .bodyContainer .main {
    overflow-x: hidden; }
    .bodyContainer .main .gallery {
      margin-bottom: 200px; }
    .bodyContainer .main__presentation {
      margin-top: 100px; }
      .bodyContainer .main__presentation__work {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px; }
        .bodyContainer .main__presentation__work h6, .bodyContainer .main__presentation__work i {
          color: #131313;
          font-size: 35px;
          padding: 10px; }
        .bodyContainer .main__presentation__work i {
          padding: 0 15px 5px 0;
          color: #131313; }
      .bodyContainer .main__presentation__titles {
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px; }
        .bodyContainer .main__presentation__titles h3 {
          font-size: 35px;
          font-weight: 600;
          font-style: normal;
          color: #131313;
          padding: 10px;
          text-align: center; }
      .bodyContainer .main__presentation__nav {
        padding: 10px 10px 10px 0;
        width: 100%; }
        .bodyContainer .main__presentation__nav ul li {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-items: center; }
          @media screen and (max-width: 520px) {
            .bodyContainer .main__presentation__nav ul li {
              display: flex;
              flex-direction: column;
              align-items: flex-start; } }
          .bodyContainer .main__presentation__nav ul li a {
            text-decoration: none;
            color: #131313;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            letter-spacing: 1px;
            padding: 15px 20px; }
    .bodyContainer .main__facundo {
      background-color: #f0ad4e;
      padding: 3%; }
      .bodyContainer .main__facundo .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        gap: 50px; }
        @media screen and (max-width: 1000px) {
          .bodyContainer .main__facundo .container {
            display: flex;
            flex-direction: column; } }
        .bodyContainer .main__facundo .container .titles__container {
          max-width: 700px;
          text-align: center; }
          .bodyContainer .main__facundo .container .titles__container h3 {
            font-size: 30px;
            color: #131313;
            text-align: left;
            padding: 20px 0; }
          .bodyContainer .main__facundo .container .titles__container p {
            text-align: justify;
            font-size: 18px;
            color: #131313; }
          .bodyContainer .main__facundo .container .titles__container button {
            background-color: white;
            padding: 10px 20px; }
      .bodyContainer .main__facundo .image__container img {
        width: 100%;
        filter: drop-shadow(5px 5px 2px black); }


        @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
        figure.main__figure__container {
          font-family: 'Raleway', Arial, sans-serif;
          color: #fff;
          position: relative;
          overflow: hidden;
          background: #000000;
          text-align: left;
        }
        figure.main__figure__container img {
          opacity: 1;
          width: 100%;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
        }
        figure.main__figure__container figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 30px 3em;
          width: 100%;
          height: 100%;
        }
        figure.main__figure__container figcaption::before {
          position: absolute;
          top: 30px;
          right: 30px;
          bottom: 30px;
          left: 100%;
          border-left: 4px solid rgba(255, 255, 255, 0.8);
          content: '';
          opacity: 0;
          background-color: rgba(255, 255, 255, 0.5);
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
        }
        figure.main__figure__container h2,
        figure.main__figure__container p {
          margin: 0 0 5px;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
        }
        figure.main__figure__container h2 {
          word-spacing: -0.15em;
          font-weight: 300;
          text-transform: uppercase;
          -webkit-transform: translate3d(30%, 0%, 0);
          transform: translate3d(30%, 0%, 0);
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
        }
        figure.main__figure__container h2 span {
          font-weight: 800;
        }
        figure.main__figure__container p {
          font-weight: 200;
          -webkit-transform: translate3d(0%, 30%, 0);
          transform: translate3d(0%, 30%, 0);
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }
        figure.main__figure__container a {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          color: #ffffff;
        }
        figure.main__figure__container:hover img {
          opacity: 0.3;
        }
        figure.main__figure__container:hover figcaption h2 {
          opacity: 1;
          -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
          -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
        }
        figure.main__figure__container:hover figcaption p {
          opacity: 0.9;
          -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
          -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
        }
        figure.main__figure__container:hover figcaption::before {
          background: rgba(255, 255, 255, 0);
          left: 30px;
          opacity: 1;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }


