/*FOOTER*/

.footer{
    background-color: #181818;
    margin: 0;
    padding: 0;

    .footer__form{

        margin-top: 200px;
        .footer__form__query {
            max-width: 500px;
            background-color: transparent;
            padding: 30px 0;
            color: white;
            

            .footer__form__query__button {
                width: 100%;
                border: solid #ffffff 1px;
                background-color: transparent;
                padding: 12px;
                color: white;
                margin: 16px 0;
                font-size: 16px;
              }

            h4 {
                font-size: 22px;
                margin-bottom: 20px;
                font-weight: bold;
                text-align: left;
                letter-spacing: 5px;
              }

              .footer__form__query__textarea{
                background-color: transparent;
                margin-top: 20px;
                font-size: 16px;
                width: 100%;
                border: solid #ffffff 1px;
                color: white;
                padding: 10px;
                
                &::placeholder{
                  padding: 10px;
                  
                }
              }

            .footer__form__query__controls {
                width: 100%;
                padding: 10px;
                margin-bottom: 16px;
                border-bottom: 1px solid #ffffff;
                font-size: 15px;
                color: white;
                background-color: transparent;
                border-top: none;
                border-left: none;
                border-right: none;
              }
          }
    }
  }

