/*HEADER*/ 
@font-face {
    font-family: "miFuente";
    src: url(../Black_Way.otf);
  }
  
.background{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/large/estudio/51.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:darken;
    background-size: cover;
    background-color: #0000003d;


    .navbar-expand-md{
        padding: 10px;
    }

    .header{
        position: sticky;
        top: 0;
        backdrop-filter: blur(5px);
        z-index: 50000;



        .navbar{
            text-align: center;
            .container-fluid{

                .navbar-brand{

                    i{
                        font-size: 35px;
                        padding-right: 5px;
                    }

                    span{
                        font-weight: bold;
                        font-size: 35px;
                        margin-right: 150px;
                        text-align: center;
                        background-image: linear-gradient(to bottom, #424242, #605261, #8c5f74, #ba6c76, #de8069, #ea8b5e, #f19952, #f3a944, #f5a73c, #f8a533, #faa22a, #fda01f);
                        background-clip: text;
                        -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;

                        @media screen and (max-width:1200px){
                            margin-right: 50px;
                        }

                        @media screen and (max-width:850px){
                            margin-right: 20px;
                        }
                    }
                }


                .collapse{

                    .navbar-nav{

                        li{

                            li:after{
                                display: block;
                            }

                            li:hover:after{
                                transform: scale(1);
                            }
                        }
                    }

                }

            }

            img{
                -webkit-filter: invert(100%);
            }
        }

    }

    .background__title{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 10px;




        & h1{
            color: rgba(255, 255, 255, 255);
            font-size: 140px;
            letter-spacing: 30px;
            font-weight: 300;
            text-transform: uppercase;
            margin-left: 5%;
            position: relative;
            background-image: linear-gradient(to bottom, #8c5f74, #ba6c76, #de8069, #ea8b5e, #f19952, #f3a944, #f5a73c, #f8a533, #faa22a, #fda01f);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "miFuente", sans-serif;
 
            @media screen and (max-width:1200px){
                font-size: 50px;
            }


            @media screen and (max-width:850px){
                font-size: 50px;
            }

            @media screen and (max-width:600px){
                font-size: 45px;
                letter-spacing: 15px;
            }

        }
        
        & h2{
            color: rgb(255, 255, 255);
            font-size: 25px;
            letter-spacing: 10px;
            font-weight: normal;
            text-shadow: -2px 1px 2px rgba(0,0,0,0.59);
            font-family: "miFuente", sans-serif;
            @media screen and (max-width:1200px){
                font-size: 18px;
            }
            

            @media screen and (max-width:600px){
                font-size: 15px;
                letter-spacing: 5px;
            }
        }

        a{
        li{
            i{
                color: #f0ad4e;
                background-image: linear-gradient(to bottom, #424242, #605261, #8c5f74, #ba6c76, #de8069, #ea8b5e, #f19952, #f3a944, #f5a73c, #f8a533, #faa22a, #fda01f);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        }
    
    }

}

    