/*HOME*/

.main{

    &__presentation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        font-family: 'Poiret One', cursiv;  
        letter-spacing: 5px;
        font-weight: bolder;

        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
        }

        &__titles{
            margin: 10px 0px 50px 0px;
            padding: 10px 0px 10px 0px;
            font-family: 'Poiret One', cursiv;
            
            text-align: center;

           & h4{
                font-size: 20px;
                font-weight: 300;
                background-color: black;
                color: white;
                width: 220px;
                padding: 10px 2px 10px 2px;
                text-align: center;
                font-weight: bold;
            }

            & h3{
                font-size: 25px;
                font-weight: 600;
                margin: 0 0 0 0;
                font-style: normal;
                border-bottom: solid 2px black;
            }

        }

        &__nav{
            padding: 100px 20px 10px 0;
            width: 100%;
             
            & ul li{
                display: flex;
                justify-content: space-evenly;
                flex-wrap: nowrap;
                align-items: center;

                & a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: 1px;
                    padding: 0;
                    border: black 1px solid;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    transition: 0.4s ease;

                    &:hover{
                        border-bottom: none;
                        background-color: #000000;
                        color: white;
                    }
                }
            }
            

            & #estudio{
                padding: 0px 0 0px 0;
            }
        }




    }

    &__facundo{
       
        div{

            h2{
                padding-bottom: 10px;
            }
        }
    }

    .main__fullgalleryFlex{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 50px;

        &__item{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Poiret One', cursiv;
            background-color: #111111;
            padding: 5px 10px 5px 10px;
        }

        & img{
            width: 30px;
        }
        
    }

    .main__proyects{

        h4{
            font-size: 20px;
            font-weight: 300;
            background-color: black;
            color: white;
            width: 220px;
            padding: 10px 2px 10px 2px;
            text-align: center;
            font-family: 'Poiret One', cursiv;
            font-weight: bold;
        }

        .main__proyects__titles{

            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            margin: 100px 0 10px 0;

            h3{
                font-size: 25px;
                font-weight: 600;
                margin: 0 0 0px 0;
                font-style: italic;
                border-bottom: solid 2px black;
            }


            img{
                width: 30px;
            }
        }
    }
    
}


    


*, *:after, *:before {
    box-sizing: border-box;
}
/* Example images */
#slide_1 {
    background-image: url(./);
}
#slide_2 {
    background-image: url(../img/Estudio/Emi.jpg);
}
#slide_3 {
    background-image: url(../img/Estudio/Emi.jpg);
}
#slide_4 {
    background-image: url(../img/Estudio/Emi.jpg);
}
.li_slide {
    background-size: cover;
    background-position: center;
}
/* Animations */
@keyframes tonext {
    75% {
        margin-left: 0;
    }
    95% {
        margin-left: calc(100% + 150px);
    }
    98% {
        margin-left: calc(100% + 150px);
    }
    99% {
        margin-left: 0;
    }
}
@keyframes snap {
    96% {
        scroll-snap-align: start;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: start;
    }
}
@keyframes tostart {
    75% {
        margin-left: 0;
    }
    95% {
        margin-left: calc(-300% - 450px);
    }
    98% {
        margin-left: calc(-300% - 450px);
    }
    99% {
        margin-left: 0;
    }
}
/* Reset */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#pSlider {
    max-width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        display: none;
    }
    /* Left, Right Navigation Arrows */
}
#pSlider #slider-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /*
    box-shadow: 9px 13px 17px 3px rgba(0,0,0,0.75);
    */
    
}
#pSlider #slider-container .li_slide {
    position: relative;
    width: 100%;
   /* border-radius: 10px; */
    background-color: khaki;
    flex: none;
    margin-right: 150px;
    
}
#pSlider #slider-container .li_slide:nth-child(even) {
    background-color: mediumaquamarine;
}
#pSlider #slider-container .li_slide:last-child {
    margin-right: 0;
}
#pSlider #slider-container .li_slide .slide-snapper {
    /* Auto play */
    scroll-snap-align: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: tonext 2s infinite ease, snap 2s infinite ease;
}
@media (prefers-reduced-motion: reduce) {
    #pSlider #slider-container .li_slide .slide-snapper {
        animation-name: none;
    }
}
#pSlider #slider-container .li_slide:last-child .slide-snapper {
    animation-name: tostart, snap;
}
#pSlider #slider-container:hover .li_slide .slide-snapper, #pSlider #slider-container:focus-within .li_slide .slide-snapper {
    animation-name: none;
}
#pSlider:before, #pSlider:after, #pSlider .prev_slide, #pSlider .next_slide {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}
#pSlider:before, #pSlider:after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}




/* Scrollbar */
#pSlider #slider-container::-webkit-scrollbar {
    display: none;
    height: 5px;
}
#pSlider #slider-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 50px;
}
#pSlider #slider-container::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Input */

#sliderSettings {
  text-align: center;
}

#slider-width, #slider-height {
  text-align: center;
  margin-bottom: 20px; 
}

