/*HOME*/


.bodyContainer{
    padding: 0;
    margin: 0;
    background-color: #e4e4e4;


    .main{
        
        overflow-x: hidden;

        .gallery{
            
            margin-bottom: 200px;
        }

    
        &__presentation{

            &__work{

                
                margin: 0 auto;

                h6, i{
                    color: $color-principal;
                    font-size: $font-subtitle;
                    padding: 10px;
                }

                i{
                    padding:0 15px 5px 0;
                    color: $color-principal;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 20px;
            } 
    
            margin-top: 100px;
    
            &__titles{
                margin: 10px 0px 10px 0px;
                padding: 10px 0px 10px 0px;

                & h3{
                    font-size: $font-subtitle;
                    font-weight: 600;
                    font-style: normal;
                    color: $color-principal;
                    padding: 10px;
                    text-align: center;
                }
            }
    
            &__nav{
                padding: 10px 10px 10px 0;
                width: 100%;
    
                & ul li{
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-items: center;
                    

                    @media screen and (max-width: 520px) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
    
                    & a{
                        text-decoration: none;
                        color:  $color-principal;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: center;
                        letter-spacing: 1px;
                        padding: 15px 20px;
                    }

                    
                }

                
                
            }
    
        }
    
        &__facundo{

            background-color: #f0ad4e;
            padding: 3%;

            .container{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                align-content: center;
                gap: 50px;

                
                
                

                @media screen and (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                }
    
                .titles__container{

                    max-width: 700px;
                    text-align: center;
    
                    h3{
                        font-size: 30px;
                        color: $color-principal;
                        text-align: left;
                        padding: 20px 0;
                    }
        
                    p{
                        text-align: justify;
                        font-size: 18px;
                        color: $color-principal; 
                    }

                    button{
                        background-color: white;
                        padding: 10px 20px;
                        
                    }
                }
        
            }
    
            .image__container{
    
                img{
                    width: 100%;
                    filter: drop-shadow(5px 5px 2px black);
                }
    
            }
        }
        
    }

}
