/*HOME*/


body{
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;



    .main{
        overflow-x: hidden;
    
        &__presentation{
    
            margin-top: 100px;
    
            &__titles{
                margin: 10px 0px 10px 0px;
                padding: 10px 0px 10px 0px;
                text-align: left;
    
    
                & h3{
                    font-size: 20px;
                    font-weight: 600;
                    font-style: normal;
                    color: rgb(0, 0, 0);
                    padding: 10px;
                    letter-spacing: 2px;
                    font-family: 'Poiret One', cursiv;
                }
    
            }
    
            &__nav{
                margin-top: 100px;
                padding: 10px 10px 10px 0;
                width: 100%;
    
                & ul li{
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    align-items: center;

                    @media screen and (max-width: 520px) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
    
                    & a{
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        font-size: 14px;
                        font-weight: 600;
                        text-align: center;
                        letter-spacing: 1px;
                        padding: 15px 20px;
                        transition: 0.4s ease;
    
                        
    
                        &:hover{
                            background-color: #000000;
                            color: white;
                        }
                    }
                }
                
    
                & #estudio{
                    padding: 0px 0 0px 0;
                }
            }
    
        }
    
        &__facundo{
    
 
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 30px;
    
                @media screen and (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                }
    
                div{
    
                    h2{
                        margin-bottom: 20px;
                        font-size: 20px;
                    }
        
                    p{
                        text-align: left;
                        font-size: 16px;
                    }
        
                    h5{
                        font-size: 30px;
                    }
                }
        
            }
    
            div{
    
                img{
                    width: 100%;
                }
    
            }
        }
        
    }

}
