.bodyContainerRetoque{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #111111;
    .backgroundRetoque{
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(12, 12, 12);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 250px;
    
        .header{
    
            position: sticky;
            top: 0;
            z-index: 50000;
    
            .navbar{
                
                .container-fluid{
    
                    .navbar-brand{
    
                        i{
                            font-size: 35px;
                            padding-right: 5px;
                        }
    
                        span{
                            font-size: 35px;
                            padding-right: 100px;
                        }
                    }
    
    
                    .collapse{
    
                        .navbar-nav{

                                .nav-item{
                                    .nav-link{
                                        margin: 0 25px;
                                        letter-spacing: 2px;
                                    }
                                }
    
                            li{
    
                                li:after{
                                    display: block;
                                }
    
                                li:hover:after{
                                    transform: scale(1);
                                }
                            }
                        }
    
                    }
    
                }
    
                img{
                    -webkit-filter: invert(100%);
                }
            }
    
        }
    
        .background__title{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
    
            & h1{
                color: rgba(255, 255, 255, 255);
                font-size: 95px;
                letter-spacing: 30px;
                font-weight: 400;
                text-shadow: -2px 1px 10px rgba(0,0,0,0.89);
                text-transform: uppercase;
                margin-left: 20px;
                position: relative;
    
                @media screen and (max-width:850px){
                    font-size: 50px;
                }
    
                @media screen and (max-width:600px){
                    font-size: 30px;
                    letter-spacing: 20px;
                }
    
                @media screen and (max-height: 500px) {
                    font-size: 50px;
                }
            }
            
            & h2{
                color: rgb(255, 255, 255);
                font-size: 25px;
                letter-spacing: 10px;
                font-weight: lighter;
                text-shadow: -2px 1px 2px rgba(0,0,0,0.59);
                
    
                @media screen and (max-width:600px){
                    font-size: 18px;
                }
    
                
                @media screen and (max-height: 500px) {
                    font-size: 18px;
                }
            }
    
            a{
                list-style: none;
            li{
                i{
                    color: #f0ad4e;
                }
            }
            }
        
        }
    
    }
    
}


.flex{
    display: flex;
    justify-content: center;
    gap: 30%;
    margin: 0 2%;
    position: sticky;
    top: 0;
    z-index: 10000;

    .flex h1{
        font-size: 16px;
        padding-top: 25px;
      }
  }
.box{
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 20px;

    .contenedor,.contenedor2,.contenedor3,.contenedor4{
        height: 110vmin;
        width: 80vmin;
        position: relative;
        overflow: hidden;

        
        @media screen and (max-width: 700px) {
            height: 100vmin;
            width: 70vmin;
        }


        .img{
            width: 100%;
            height: 100%;
            position: absolute;
        }

        #my-img, #my-img2, #my-img3, #my-img4{
            clip-path: polygon(0 0 , 50% 0, 50% 100%, 0 100%);
        }

        input[type=range]{
            position: relative;
            -webkit-appearance: none;
            width: calc( 100% + 40px);
            height: 100%;
            background-color: transparent;
            outline: none;
            margin-left: -20px;
          }

          input[type=range]::-webkit-slider-thumb{
            -webkit-appearance: none;
            height: 40px;
            width: 40px;
            background: url("../images/icons/slider-icon.svg"),
            rgba(255,255,255,0.3);
            border: 3px solid #ffffff;
            border-radius: 50%;
            background-size: contain;
            cursor: pointer;
        }
    }
}
    

