    /* Colors */

    $color-principal:rgb(19, 19, 19);
    $text-color: rgb(245, 245, 245);
    $color-medium: rgb(182, 182, 182);

    /*Font Sizes*/

    $font-text-normal: 18px;
    $font-subtitle: 35px;

    $brand-blue-core: #0091df;
    $brand-blue-mid: #00617f;
    
    $base-light: #fff;
    $base-dark: #000;
    $base-pale: #f2f2f2;
    